@import "../mixins";

.note {
    display: none;
}
.dashboard {
    float: right;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 30px;
    width: calc(100vw - 350px);
    height: 100vh;
    padding: 0px 25px;
}

.heading {
    @include pageHeading;
}

.viewChart{
    grid-column: 1/8;
    grid-row: 2/6;
    background-color: $secondaryBg;
    border: 1px solid $secondaryStroke;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    position: relative;
    > h3 {
        position: absolute;
        left: 30px;
        top: 10px;
        color: $primaryStroke;
    }
}

.recentTransactions {
    grid-column: 8/11;
    grid-row: 2/10;
    height: 100%;
    width: 100%;
    position: relative;

    > h3 {
        position: absolute;
        left: 20px;
        top: 10px;
        color: $primaryStroke;
    }
}

.bookmarks {
    grid-column: 1/8;
    grid-row: 6/10;
    height: 100%;
    width: 100%;
    position: relative;
}

.comingSoon {
    grid-column: 5/8;
    grid-row: 6/10;
    height: 100%;
    width: 100%;
    position: relative;
    > h3 {
        position: absolute;
        left: 20px;
        top: 10px;
        color: $primaryStroke;
    }
}


@media screen and (max-width:1450px) {
    .viewChart {
        grid-column: 1/11;
        grid-row: 2/6;
        height: 100%;
    }
    .bookmarks  {
        grid-column: 1/5;
        grid-row: 6/9;
        height: 150%;
    }
    .comingSoon{
        grid-column: 5/11;
        grid-row: 6/9;
        height: 150%;
    }
    .recentTransactions {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .dashboard {
        width: calc(100vw - 80px);
    }
}

@media screen and (max-width: 600px) {
    .dashboard {
        display: none;
    }
    .note {
        display: flex;
        font-size: 2rem;
        height: 100vh;
        text-align: center;
        align-items: center;
    }
}
