@import "../variables";
@import "../mixins";

.note {
    display: none;
}

.insights {
    float: right;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 30px;
    width: calc(100vw - 350px);
    height: 100vh;
    padding: 0px 25px;
}

.heading {
    @include pageHeading;
}

.transactions, .transactionDistribution, .transactionDistributionNull, .tokenDistribution, .numerics {
    background-color: $secondaryBg;
    border-radius: 20px;
    border: 1px solid $primaryStroke;
}

.transactions {
    grid-column: 1/8;
    grid-row: 2/6;
    position: relative;
    > p {
        position: absolute;
        right: 0;
        top: 5px;
        font-size: 1.5rem;
        color: $text;
        > span {
            vertical-align: middle;
            font-size: 1.8rem;
            margin: 10px;
            cursor: pointer;
            padding: 0px 13px;
            border-radius: 50%;
            transition: .2s ease-out;
            &:hover {
                background-color: $hoverBg;
            }
        }
    }
    > h3 {
        position: absolute;
        left: 30px;
        top: 10px;
        color: $primaryStroke;
    }
}

.planInfo {
    display: none;
    z-index: 3;
    position: absolute;
    right: -10%;
    top: 0px;
    font-size: 1rem;
    color: white;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: $hoverBg;
    box-shadow: 0px px 10px rgb(0, 0, 0);
    &:hover {
        display: inline-block;
    }
}

.transactions p:hover + .planInfo{
    display: inline-block;
}

.tokenDistribution {
    grid-column: 8/11;
    grid-row: 2/10;
    position: relative;
    overflow-y: auto;
    > h3 {
        position: absolute;
        left: 20px;
        top: 10px;
        color: $primaryStroke;   
    }
    > div {
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 100%;
        > div {
            height: 40%;
            width: 100%;
        }
    }
}


.transactionDistribution, .transactionDistributionNull {
    grid-column: 1/5;
    grid-row: 6/10;
    padding-right: 50%;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    > h3 {
        position: absolute;
        left: 20px;
        top: 10px;
        color: $primaryStroke; 
    }
    > span {
        @include bold_font;
        color: $grey;
        width: 50%;
        font-size: 1.5rem;
        text-align: center;
    }
}

.transactionDistributionNull {
    padding-right: 0;
}

.labels {
    font-size: calc(.7vw + 8px);
    color: $text;
    @include medium_font;
    div {
        align-items: center;
        width: 200%;
        display: flex;
        margin: 10px;
        div {
            width: 15%;
            height: 40px;
            border-radius: 10px;
        }
    }
}

.sentLabel div{
    background-color: $blue;
    box-shadow: #243a64 0px 0px 30px;
}
.receivedLabel div{
    background-color: #008505;
    box-shadow: #003d02 0px 0px 30px;
}

.numerics {
    grid-column: 5/8;
    grid-row: 6/10;
    position: relative;
    > h3 {
        position: absolute;
        left: 20px;
        top: 10px;
        color: $primaryStroke; 
    }
    > div {
        display: flex;
        flex-flow: column;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    & p {
        margin-left: 20px;
        margin-top: 40px;
        font-size: calc(.6vw + 10px);
        color: $grey;
        @include bold_font;
        > span {
            @include light_font;
            float: right;
            margin-right: 30px;
            color: $text;
            text-align: right;
        }
    }
}




@media screen and (max-width: 1200px) {
    .insights {
        width: calc(100vw - 80px);
    }
}

@media screen and (max-width: 600px) {
    .insights {
        display: none;
    }
    .note {
        display: flex;
        font-size: 2rem;
        height: 100vh;
        text-align: center;
        align-items: center;
    }
    .numbers {
        white-space: normal;
    }
}
