@import "../variables";
@import "../mixins";

.note {
    display: none;
}

.nfts {
    float: right;
    display: flex;
    flex-flow: column;
    width: calc(100vw - 350px);
    height: 100vh;
    padding: 0px 25px;
}

.heading {
    @include pageHeading;
}

.search {
    @include search(45px, 100%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-self: flex-start;
    width: 30vw;
}

.nftsHolder {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    display: flex;
    flex: 1;
    gap: 30px;
    flex-wrap: wrap;
}

.nft, .nftLoading {
    background: $secondaryBg;
    border-radius: 10px;
    height: 560px;
    width: 350px;
    transition: .2s ease-out;
    position: relative;
    > section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    > p {
        margin-top: 10px;
        padding: 0px 10px;
    }
    > h3 {
        color: white;
        width: 100%;
        margin-top: 240px;
        text-align: center;
    }
    border: 1px solid $hoverBg;
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 5px 10px #0d0d11;
        filter: contrast(105%);
    }
}

.name {
    font-size: 1.1rem;
    color: white;
    width: 100%;
    text-align: center;
    @include light_font;
}

.description {
    font-size: .8rem;
    color: $grey;
    width: 100%;
    text-align: center;
    height: 70px;
    @include light_font;
    z-index: 2;
    position: relative;
}
.image {
    display: flex;
    align-items: center;
    justify-content: center;
    > img {
        z-index: 2;
        width: 345px;  // -2 for the stroke to appear
        height: 345px; // -2 for the stroke to appear
        object-fit: contain;
        border-radius: 10px 10px 0px 0px; // match with the parent div's curve
    }
}

.attributes {
    height: 88px;
    position: relative;
    z-index: 2;
}

.items {
    overflow-y: auto;
    height: 85%;
    padding: 0px 10px;
}

.attributeTitle {
    display: flex;
    z-index: 2;
    gap: 5px;
    padding: 0px 10px;
    > p {
        color: $primaryStroke;
        font-size: .8rem;
        @include bold_font;
    }
}
.attribute {
    font-size: .7rem;
    display: flex;
    margin-top: 5px;
    @include light_font;
    > span:nth-child(1) {
        margin-right: 30px;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: white;
    }
    > span:nth-child(2) {
        margin-left: auto;
        color: $text;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.nftBottom {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    height: 240px;
}
.loading {
    width: 100%;
    height: 75%;
    align-items: center;
    display: flex;
    justify-content: center;
    > h2 {
        color: $grey;
        font-size: 2rem;
    }
}


@media screen and (max-width: 1200px) {
    .nfts {
        width: calc(100vw - 80px);
    }
}

@media screen and (max-width: 600px) {
    .nfts {
        display: none;
    }
    .note {
        display: flex;
        font-size: 2rem;
        height: 100vh;
        text-align: center;
        align-items: center;
    }
    .numbers {
        white-space: normal;
    }
}
