@import "../variables";
@import "../mixins";

.note {
    display: none;
}

.nfts {
    float: right;
    display: flex;
    flex-flow: column;
    width: calc(100vw - 350px);
    height: 100vh;
    padding: 0px 25px;
}

.heading {
    @include pageHeading;
}

.nftsHolder {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: flex;
}

.nft {
    background: $secondaryBg;
    border-radius: 10px;
    height: 450px;
    width: 300px;
    margin: 30px;
    transition: .2s ease-out;
    position: relative;
    > p {
        margin-top: 10px;
        padding: 0px 10px;
    }
    > h3 {
        padding: 0px 10px;
        color: white;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    border: 1px solid $secondaryStroke;
    &:hover {
        border: 1px solid $primaryStroke;
        transform: translateY(-3px);
        box-shadow: 0px 5px 10px #0d0d11;
    }
}
.name {
    font-size: 1.1rem;
    color: white;
    width: 100%;
    text-align: center;
    @include light_font;
}
.description {
    font-size: .8rem;
    color: $grey;
    width: 100%;
    text-align: center;
    height: 80px;
    @include light_font;
}
.image {
    display: flex;
    align-items: center;
    justify-content: center;
    > img {
        width: 120px;
    }
}

.attributes {
    padding: 0px 10px;
    overflow-y: auto;
}
.attributeTitle {
    display: flex;
    z-index: 2;
    position: relative;
    gap: 5px;
    > p {
        color: $primaryStroke;
        font-size: .8rem;
        @include bold_font;
    }
}
.attribute {
    font-size: .8rem;
    display: flex;
    margin-top: 10px;
    @include light_font;
    > span:nth-child(1) {
        z-index: 2;
        margin-right: 30px;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: white;
    }
    > span:nth-child(2) {
        z-index: 2;
        margin-left: auto;
        color: $text;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.nftBottom {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    width: 100%;
    height: 245px;
}