@import '../variables';
@import '../mixins';

.note {
    display: none;
}

.profile {
    float: right;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 30px;
    width: calc(100vw - 350px);
    height: 100vh;
    padding: 0px 25px 0px 0px;
}

.heading {
    @include pageHeading;
    margin-left: 25px;
}

.profileBox {
    grid-column: 1/6;
    grid-row: 2/11;
}

.seperator {
    grid-column: 5/6;
    justify-self: flex-end;
    grid-row: 1/11;
    height: 100%;
    z-index: 1;
    background-color: $secondaryStroke;
    border: none;
    width: 2px;
}

.discover {
    grid-column: 6/11;
    grid-row: 2/10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

@media screen and (max-width: 1500px) {
    .profileBox {
        grid-column: 1/7;
    }
    .discover {
        grid-column: 7/11;
    }
    .seperator {
        grid-column: 6/7;
    }
}
@media screen and (max-width: 1200px) {
    .profile {
        width: calc(100vw - 80px);
    }
}

@media screen and (max-width: 600px) {
    .profile {
        display: none;
    }

    .note {
        display: flex;
        font-size: 2rem;
        height: 100vh;
        text-align: center;
        align-items: center;
    }
}
