@import "../variables";
@import "../mixins";


.bookmarks {
    padding: 10px 10px;
    background-color: $secondaryBg;
    border: 1px solid $primaryStroke;
    border-radius: 20px;
    & h2 {
        color: rgb(190, 190, 190);
        font-size: 1.1rem;
    }
}

.search {
 @include search;
}

.bookmark {
    padding: 10px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border: .8px solid $hoverbg;
    display: flex;
    margin: 20px;
    border-radius: 5px;
    transition: .2s ease-out;
    & h3 {
        color: rgb(255, 255, 255);
        @include light_font;
    }
    & p {
        color: white;
        margin-left: auto;
    }
    & img {
        width: 20px;
    }
    &:hover {
        background-color: $hoverbg;
        box-shadow: 0px 0px 10px $primaryStroke;
    }
}