@import "../variables";
@import "../mixins";


.bookmarks {
    overflow-y: auto;
    background-color: $secondaryBg;
    border: 1px solid $primaryStroke;
    padding: 10px 10px;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    & h2 {
        color: $grey;
        font-size: 1.1rem;
    }
    & p {
        color: $grey;
        font-size: .9rem;
        margin-left: 2%;
        margin-top: 10px;
    }
}

.search {
 @include search;
    justify-content: flex-end;
}

.upper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookmark {
    padding: 2% 3%;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid $secondaryStroke;
    margin: 2%;
    border-radius: 5px;
    transition: .2s ease-out;
    justify-content: space-between;
    & h3 {
        color: white;
        @include light_font;
    }
    & p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: white;
        @include light_font;
        margin-left: 30%;
        font-size: .9rem;
    }
    & img {
        width: 25px;
    }
    &:hover {
        background-color: $hoverBg;
    }
}
.left {
    display: flex;
    gap: 10px;
}


@media screen and (max-width:1450px) {
    .bookmark {
        padding: 1%;
        & img {
            width: 30px;
        }
    }
}