@import "../variables";
@import "../mixins";


.bookmarks {
    padding: 10px 10px;
    background-color: $secondarybg;
    border: 1px solid $primaryStroke;
    border-radius: 20px;
    & h2 {
        color: rgb(190, 190, 190);
        font-size: 1.1rem;
    }
}

.search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    > input {
        border-radius: 5px;
        color: white;
        padding: 0px 5px;
        height: 35px;
        width: 300px;
        background-color: transparent;
        border: 1px solid $primaryStroke;
        transition: .2s ease-out;
        &:focus {
            border: 1px solid $secondaryblue;
        }
    }
    > button {
        background-color: transparent;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 50%;
    }
}

.bookmark {
    padding: 10px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border: .8px solid $hoverbg;
    display: flex;
    margin: 20px;
    border-radius: 5px;
    transition: .2s ease-in;
    & h3 {
        color: rgb(255, 255, 255);
        @include light_font;
    }
    & p {
        color: white;
    }
    & img {
        width: 20px;
    }
    &:hover {
        background-color: $hoverbg;
        box-shadow: 0px 0px 10px $primaryStroke;
    }
}