@import "../variables";
@import "../mixins";


.bookmarks {
    overflow-y: auto;
    background-color: $secondaryBg;
    border: 1px solid $primaryStroke;
    padding: 5px 10px;
    border-radius: 20px;
    height: 100%;
    > p {
        color: $grey;
        font-size: .9rem;
        text-align: center;
        margin-top: 20px
    }
}

.search {
    @include search(35px, 80%);
    justify-content: flex-end;
    display: flex;
}


.bookmark {
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid $secondaryStroke;
    margin: 2%;
    border-radius: 5px;
    transition: .2s ease-out;
    justify-content: space-between;
    & p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: white;
        font-size: 1rem;
    }
    > p {
        width: 60%;
    }
    & img {
        border-radius: 50%;
    }
    &:hover {
        background-color: $hoverBg;
    }
}


.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    object-fit: cover;
    height: 40px;
    width: 40px;
}
@media screen and (max-width:1450px) {
    .bookmark {
        padding: 1%;
        & img {
            width: 30px;
        }
    }
}