@import "../mixins";

.dashboard {
    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 40px;

}

.heading {
    margin-left: 270px;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
}

.chart {
    margin-left: 270px;
    grid-column: 1/7;
    grid-row: 2/7;
    width: 1000px;
}

.bookmarks {
    margin-left: 270px;
    grid-column: 1/8;
    grid-row: 6/10;
    margin-top: 20px;
}

.recentTransactions {
    width: 25vw;
    grid-column: 8/12;
    grid-row: 2/9;
}

.insights {
    font-size: 1.5rem;
    grid-row: 9;
    width: 25vw;
    grid-column: 8/12;
    align-self: center;
    text-align: center;
    color: #7585AE;
    @include bold_font;
    transition: .2s ease-out;
    &:hover {
        filter: brightness(1.5);
    }
}