@import "../mixins";

.note {
    display: none;
}
.dashboard {
    float: right;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 350px);
    height: 100vh;
    padding: 0px 30px;
}

.heading {
    @include pageHeading;
}

.viewChart{
    background-color: $secondaryBg;
    border: 1px solid $primaryStroke;
    border-radius: 20px;
    grid-column: 1/8;
    grid-row: 1/7;
    width: 100%;
    height: 60%;
}

.bookmarks {
    grid-column: 1/4;
    grid-row: 6/11;
    height: 90%;
    width: 100%;
    align-self: flex-start;
}

.comingSoon {
    grid-column: 4/8;
    grid-row: 6/11;
    height: 90%;
    width: 100%;
    align-self: flex-start;
}

.recentTransactions {
    grid-column: 8/11;
    grid-row: 2/8;
    height: 100%;
    width: 100%;
}

.insights {
    grid-row: 8/9;
    align-self: center;
    grid-column: 8/11;
    justify-self: center;
    font-size: 1.2rem;
    text-align: center;
    width: fit-content;
    color: #7585AE;
    @include bold_font;
    transition: .2s ease-out;
    &:hover {
        filter: brightness(1.5);
    }
}

@media screen and (max-width:1450px) {
    .viewChart {
        grid-column: 1/11;
        grid-row: 2/6;
        height: 100%;
    }
    .bookmarks  {
        grid-column: 1/5;
        grid-row: 6/9;
        height: 150%;
    }
    .comingSoon{
        grid-column: 5/11;
        grid-row: 6/9;
        height: 150%;
    }
    .recentTransactions {
        display: none;
    }
    .insights {
        grid-column: 1/11;
        grid-row: 10/11;
        margin: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .dashboard {
        width: calc(100vw - 80px);
    }
}

@media screen and (max-width: 600px) {
    .dashboard {
        display: none;
    }
    .note {
        display: flex;
        font-size: 2rem;
        height: 100vh;
        text-align: center;
        align-items: center;
    }
}
