@import "../mixins";

.viewChart{
    background-color: $secondarybg;
    border-radius: 20px;
    border: 1px solid $primaryStroke;
    margin-left: 270px;
    grid-column: 1/7;
    grid-row: 2/6;
    height: 20vw;
    width: 50vw;
    margin-bottom: 10px;
}


.dashboard {
    padding: 20px 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(13, 1fr);
    grid-column-gap: 40px;

}

.heading {
    margin-left: 270px;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
}


.bookmarks {
    margin-left: 270px;
    grid-column: 1/7;
    grid-row: 6/10;
    height: 20vw;
    width: 50vw;
}

.recentTransactions {
    width: 20vw;
    grid-column: 8/12;
    grid-row: 2/9;
}

.insights {
    font-size: 1.5rem;
    grid-row: 9;
    width: 25vw;
    grid-column: 8/12;
    align-self: center;
    text-align: center;
    color: #7585AE;
    @include bold_font;
    transition: .2s ease-out;
    &:hover {
        filter: brightness(1.5);
    }
}

@media screen and (max-width: 1000px) {
    .dashboard {
        grid-template-rows: repeat(10, .2fr);
    }

    .heading {
        margin-left: 40px;
        grid-row: 1/2;
        grid-column: 2/5;
        font-size: 1.5rem; 
        align-self: start;
    }

    .viewChart {
        margin-left: 15px;
        grid-column: 2/13;
        grid-row: 2/5;
        margin-top: -30px;
        width: 95%;
        height: 100%;
    }

    .bookmarks {
        margin-left: 15px;
        grid-column: 2/13;
        grid-row: 5/7;
        width: 95%;
        height: 100%;
    }
    .recentTransactions {
        grid-row: 8/9;
        grid-column: 2/13;
        margin-left: 15px;
        width: 95%;
    }

    .insights {
        grid-row: 9/10;
        grid-column: 2/13;
        justify-self: center;
    }
}