@import "../variables";
@import "../mixins";

.discoverProfiles {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.search {
    @include search;
}

.profileBox {
    border: 1px solid $secondaryStroke;
    background-color: $secondaryBg;
    border-radius: 5px;
    margin: 10px;
    height: 100%;
    transition: .1s ease-in;
    padding: 0px 20px;
    & p {
        color: $text;
        margin-left: 50px;
    }
    &:hover {
        background-color: $hoverBg;
    }
}

.upper {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & p {
        color: white;
    }

}

.left {
    display: flex;
    gap: 10px;
}

.name {
    text-align: center;
    h3 {
        color: white;
        font-size: 1.4rem;
    }
    h4 {
        color: $primaryStroke;
    }
}
