@import "../variables";
@import "../mixins";

.discoverProfiles {
    display: flex;
    flex-flow: column;
    height: 100%;
    padding: 0px 20px;
    > p {
        color: $primaryStroke;
        @include medium_font;
        font-size: 1.2rem;
        margin: 20px 0px -10px 0px
    }
}

.search {
    @include search(45px, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileBox {
    margin-top: 20px;
    border: 1px solid $secondaryStroke;
    border-radius: 5px;
    height: 120px;
    transition: .1s ease-in;
    padding: 0px 20px;
    & p {
        color: $greyLight;
        margin-left: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &:hover {
        background-color: $hoverBg;
        transform: scale(99.5%);
        border: 1px solid $hoverBg;
    }
}
.avatar {
    border-radius: 50%;
    object-fit: cover;
    height: 50px;
    width: 50px;
}
.upper {
    height: 70%;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: hidden;
    > p {
        margin-left: auto;
        color: $grey;
        position: relative;
        top: 15px;
        right: 0px;
        text-align: end;
        width: 50%;
        float: right;
    }

}

.nameGroup{
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
.name {
    color: white;
    font-size: 1.2rem;
}
.username {
    color: $text;
    font-size: .9rem;
}


@media screen and (max-width: 1500px){
    .upper {
        > p {
            display: none;
        }
    }
}