@import "../variables";
@import "../mixins";

.discoverProfiles {
    & h2 {
        color: $grey;
        margin: 10px;
    }
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    height: 700px;
    width: 650px;
}

.profileBox {
    border: 1px solid $hoverBg;
    background-color: $secondaryBg;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-flow: column;
    height: 130px;
    & p {
        color: $text;
        margin-left: 20px;
    }
    img {
        width: 20px;
    }
    transition: .1s ease-in;
    &:hover {
        background-color: #191A21;
        border: 1px solid $secondaryStroke;
    }
    
}
.upper {
    margin-left: 20px;
    height: 80px;
    display: flex;
    align-items: center;
    & img {
        width: 50px;
        height: 50px;
        margin: 10px;
    }
    & p {
        color: white;
    }

}
.name {
    h3 {
        color: white;
    }
    h4 {
        color: $primaryStroke;
    }
}
.search {
    @include search;
}