@import "../variables";
@import "../mixins";

.discoverProfiles {
    & h2 {
        color: white;
        margin: 10px;
    }
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    height: 700px;
    width: 650px;
}

.profileBox {
    background-color: $secondarybg;
    border: 1px solid $secondaryStroke;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-flow: column;
    height: 130px;
    & p {
        color: $textColor;
        margin-left: 20px;
    }
    img {
        width: 20px;
    }
    transition: .1s ease-in;
    &:hover {
        border: 1px solid $primaryStroke;
        background-color: #191a20;
    }
    
}
.upper {
    margin-left: 20px;
    height: 80px;
    display: flex;
    align-items: center;
    & img {
        width: 50px;
        height: 50px;
        margin: 10px;
    }
    & p {
        color: white;
    }

}
.name {
    h3 {
        color: white;
    }
    h4 {
        color: $primaryStroke;
    }
}
.search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    > input {
        border-radius: 5px;
        color: white;
        padding: 0px 5px;
        height: 35px;
        width: 300px;
        background-color: transparent;
        border: 1px solid $primaryStroke;
        transition: .2s ease-out;
        &:focus {
            border: 1px solid $secondaryblue;
        }
    }
    > button {
        background-color: transparent;
        outline: none;
        border: none;
        padding: 5px 5px;
    }
     img {
        margin-left: 15px;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 50%;
        transition: .2s ease;
        transition: .2s ease;
        border-radius: 50%;
        &:hover {
                filter: brightness(200%);
                background-color: $hoverbg;
            }
    }
}