@import "../variables";
@import "../mixins";

.index {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    padding: 0px 10px;
}

.ladderImage {
    grid-column: 1;
    grid-row: 2;
}

.left {
    z-index: 1;
    gap: 80px;
    grid-column: 2/6;
    grid-row: 2/6;
    display: flex;
    flex-flow: column;
    & > h1 {
        font-size: calc(1.2vw + 25px);
    }
    & p {
        font-size: calc(.5vw + 10px);
        color: $greyLight;
        max-width: 90%;
        @include medium_font;
    }
}

.button {
    @include button;
    height: 60px;
    font-size: 1.2rem;
    width: 40%;
    @include bold_font
}

.centerSeperator {
    grid-column: 6/7;
    grid-row: 1/7;
    height: 100%;
    border: none;
    width: 2px;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(56,60,81,1) 65%);
}

.curves {
    width: 101.3%;
    position: relative;
    z-index: 0;
    grid-column: 1/6;
    grid-row: 3/7;
}


.right {
    z-index: 1;
    margin-left: 40px;
    grid-column: 6/11;
    grid-row: 1/7;
    align-self: center;
    justify-self: center;
}

.one, .two, .three {
    display: flex;
    flex-flow: column;
    margin-top: 50px;
    > h2 {
        font-size: 1.3em;
        @include medium_font;
        display: flex;
        align-items: center;
        gap: 20px;
        color: #7585AE;
        > p {
            color: white;
            background-color: #47577E;
            width: fit-content;
            padding: 4px 14px;
            border-radius: 50%;
            box-shadow: 0px 0px 30px #3c3c5e;
        }
    }
    > p {
        @include default_font;
        color: white;
        font-size: .9em;
    }
}

.one h2 p{
    padding: 4px 17px;
}

.dashboardImage {
    margin-top: 50px;
    border: 2px solid $secondaryStroke;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #222530;
}

@media screen and (max-width: 1300px) {
    .right {
        margin-top: 50px;
    }
    .button {
        font-size: .95em;
        width: 60%;
    }
}

@media screen and (max-width: 900px ) {
    .index {
        grid-template-rows: repeat(10, .2fr);
    }
    .button {
        width: 60%;
    }
    .centerSeperator {
        display: none;
    }
    .curves {
        grid-row: 5/6;
    }
    .left {
        margin-top: 100px;
        height: 500px;
        text-align: center;
        justify-content: center;
        align-items: center;
        grid-column: 2/10;
        grid-row: 2/4;
        align-self: center;
    }
    .right {
        margin-top: 0;
        grid-row: 5/10;
        grid-column: 1/10;
    }
}