@import "../variables";
@import "../mixins";

.index_body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(20, .5fr);

 }

.heading { 
    font-size: calc(1vw + 1rem);
    color: white;
    grid-column: 2/4;
    grid-row: 3;
}

.description { 
    font-size: calc(.5vw + .5rem);
    color: #A6A6A6;
    grid-column: 2/5;
    max-width: 600px;
    grid-row: 4;
    z-index: 1;
}

.button {
    z-index: 1;
    @include button;
    grid-column: 2/4;
    grid-row: 5/6;
    align-self: end;
    height: 60px;
    width: 280px;
    font-size: 1.2rem;
}

.profile_image {
    grid-column: 5/8;
    grid-row: 3/7;
    justify-self: start;
    align-self: flex-end;
    z-index: 1;
    width: 800px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 0px 0px 100px #104eaa57;
}

.features {
    grid-column: 3/7;
    grid-row: 7;
    align-self: flex-end;
    justify-self: center;
    color: white;
    text-align: center;
}
.content_heading {
    @include head_text($primaryblue);
}

