@import "../variables";
@import "../mixins";

.index_body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, .2fr);
 }

.heading {
    font-size: calc(1vw + 1.5rem);
    grid-column: 2/5;
    grid-row: 2;
    justify-self: center;
    max-width: 35vw;
}

.description { 
    color: $primarygrey;
    font-size: calc(.2vw + 1rem);
    grid-column: 2/5;
    grid-row: 3;
    justify-self: center;
    max-width: 35vw;

}

.button {
    @include button;
    font-size: 1.2rem;
    grid-column: 2/4;
    grid-row: 4;
    justify-self: start;
    align-self: center;
    height: 4rem;
    width: 18rem;
    margin-left: 5%;
}

.insights_image {
    border:  1px solid $secondarygrey;
    grid-column: 5/8;
    grid-row: 2/5;
    justify-self: start;
    align-self: center;
    width: 796px;
    height: 450px;
    border-radius: 15px;
    box-shadow: 0px 0px 100px #104eaa40;
}

.features {
    color: $primarygrey;
    margin-top: 100px;
    grid-column: 3/7;
    grid-row: 5/6;
    justify-self: center;
    text-align: center;
    & > h2 {
        @include head_text($primaryblue);
    }
}

.pricing {
    color: $primarygrey;
    grid-column: 2/8;
    grid-row: 7;
    justify-self: center;
    text-align: center;
    & > h2 {
        @include head_text($orange)
    }
}

.boxes1 {
    @include landingPage_boxes($secondaryblue, #104EAA60);
    & > div {
        min-width: 350px;
    } & > div p {
        font-size: 1.2rem;
    }
    & > div ul li{
        margin: 20px;
        text-align: left;
    }
}

.boxes2 {
    @include landingPage_boxes($orange, #CC6B2560);
    text-align: left;
    & > div {
        min-width: 300px;
        & > h3 {
            margin-left: 50px;
        }
    }
    & > div ul li{
        font-size: 1.2rem;
        margin: 20px;
        text-align: left;
    }
}

.get_started {
    color: $primarygrey;
    grid-column: 3/7;
    grid-row: 9;
    justify-self: center;
    text-align: center;
    & > h2 {
        @include head_text(white)
    }
    & > button {
        margin-top: 30px;
    }
}

@media screen and (max-width: 1050px) {
    .insights_image {
        display: none;
    }

    .heading {
        text-align: center;
        grid-column: 2/8;
        grid-row: 2;
        max-width: 90vw;
    }

    .description {
        text-align: center;
        grid-column: 2/8;
        grid-row: 2/4;
        align-self: center;
        max-width: 90vw;
    }

    .button {
        grid-column: 2/8;
        grid-row: 3/5;
        align-self: center;
        justify-self: center;
        margin-left: 0;
        max-width: 50vw;
    }

    .features {
        margin-top: -50px;
    }
}

@media screen and (max-width:800px) {

    .heading {
        grid-row: 1/3;
        align-self: center;
    }

    .description {
        grid-row: 1/4;
    }

    .button {
        grid-row: 3/6;
        align-self: start;
    }

    .features {
        margin-top: -200px;
    } 
}
