@import "../variables";
@import "../mixins";

.note {
    display: none;
}

.insights {
    float: right;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 350px);
    height: 100vh;
    padding: 0px 30px;
}

.transactionChart, .distributionChart {
    background-color: $secondaryBg;
    border-radius: 20px;
    border: 1px solid $primaryStroke;
}

.heading {
    @include pageHeading;
}
.top {
    grid-column: 1/11;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.month {
    font-size: 1.5rem;
    color: $text;
    & span {
        vertical-align: middle;
        font-size: 2rem;
        margin: 10px;
        cursor: pointer;
        padding: 0px 15px;
        border-radius: 50%;
        transition: .2s ease-out;
        &:hover {
            background-color: $hoverBg;
        }
    }
}

.distributionChart {
    grid-column: 1/5;
    grid-row: 2/5;
    width: 100%;
    height: 100%;
    padding-right: 60%;
    display: flex;
    align-items: center;
}


.numbers {
    padding: 10px 10px;
    border: 1px solid $primaryStroke;
    background-color: $secondaryBg;
    border-radius: 20px;
    grid-column: 6/11;
    grid-row: 2/5;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    & h2 {
        color: $grey;
        font-size: 1.1rem;
        margin-left: 20px;
        margin-bottom: 12%;
        
    }
    & h1 {
        margin-left: 20px;
        font-size: calc(.6vw + 10px);
        margin-top: 30px;
        display: flex;
        gap: 20px;
        color: $text;
        & p {
            @include light_font;
            color: white;
        }
    }
}


.transactionChart {
    grid-column: 1/11;
    grid-row: 5/10;
    width: 100%;
    height: 100%;
}


.labels {
    font-size: calc(.7vw + 5px);
    color: white;
    div {
        align-items: center;
        width: 200%;
        display: flex;
        gap: 5px;
        margin: 10px;
        div {
            width: 10%;
            height: 20px;
            border-radius: 5px;
        }
    }
}
.rec div{
    background-color: white;
}
.sent div{
    background-color: $blue;
}

@media screen and (max-width: 1000px) {
    .insights {
        width: calc(100vw - 80px);
    }
}

@media screen and (max-width: 600px) {
    .insights {
        display: none;
    }
    .note {
        display: flex;
        font-size: 2rem;
        height: 100vh;
        text-align: center;
        align-items: center;
    }
    .numbers {
        white-space: normal;
    }
}
