@import "../variables";
@import "../mixins";

.transactionChart, .distributionChart {
    background-color: $secondarybg;
    border-radius: 20px;
    border: 1px solid $primaryStroke;
}

.insights {
    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 40px;

}

.heading {
    margin-left: 270px;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
}

.distributionChart {
    grid-column: 1/5;
    grid-row: 2/5;
    margin-left: 270px;
    width: 32vw;
    padding-right: 18vw;
    display: flex;
    align-items: center;
}

.numbers {
    border: 1px solid $primaryStroke;
    border-radius: 20px;
    grid-column: 5/10;
    justify-self: center;
    grid-row: 2/5;
    width: 28vw;
    background-color: $secondarybg;
    & img {
        rotate: 20deg;
    }
}

.transactionChart {
    margin-top: 10px;
    margin-left: 270px;
    grid-column: 1/8;
    grid-row: 5/9;
    align-self: center;
    width: 70vw;
}


.labels {
    color: white;
    div {
        align-items: center;
        width: 100%;
        display: flex;
        gap: 10px;
        margin: 20px;
        div {
            width: 20px;
            height: 20px;
            border-radius: 5px;
        }
    }
}
.rec div{
    background-color: white;
}
.sent div{
    background-color: $primaryblue;
}