@import '../variables';

.navbar {
    position: fixed;
    display: flex;
    background-color: $secondaryBg;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 15px 5%;
    font-size: 1rem;
    z-index: 5;
}


.links {
    color: white;
     & a {
        transition: 0.2s ease-out;
        padding: 10px 2vw;
        margin: 10px;
        &:hover {
            background-color: $hoverbg;
            border-radius: 10px;
        }
    }
}

.connectButton {
    cursor: pointer;
    background-color: transparent;
    color: $textColor;
    border: 2px solid $primaryStroke;
    padding: 10px 2vw;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: 0.3s;
    &:hover {
        transform: scale(95%);
    }
}

@media screen and (max-width: 500px) {
    .connectButton {
        visibility: hidden;
    }
}