@import '../variables';

.navbar {
    position: fixed;
    display: flex;
    background-color: $navbarbg;
    border-radius: 0px 0px 3rem 3rem;
    width: 100vw;
    padding: 10px 5%;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}


.links {
    list-style: None;
    color: white;
    & li {
        display: inline-block;
        padding: 0px calc(6vw - 80px);
    } & a {
        transition: 0.3s ease-out;
        padding: 10px 2vw;
        &:hover {
            background-color: $hoverbg;
            border-radius: 15px;
        }
    }
}

.connect_button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: 0.3s;
    &:hover {
        transform: translate(0px, -5px);
        box-shadow: 0px 5px 20px $hoverbg;
    }
}