@import '../variables';


.navbar {
    background-color: $bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    border-radius: 0px 0px 3rem 3rem;
    box-shadow: 0px 5px 30px #0D0D0D;
    font-size: 1.1rem;
}

.links {
    list-style: None;
    color: white;
    & li {
        display: inline-block;
        padding: 0px calc(6vw - 100px);
    } & a {
        transition: 0.3s ease-out;
        padding: 10px 2vw;
        &:hover {
            background-color: rgb(41, 41, 41);
            border-radius: 20px;
        }
    }
}

.connect_button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: 0.3s;
    &:hover {
        transform: translate(0px, -5px);
        box-shadow: 0px 0px 20px rgb(53, 53, 53);
    }
}