@import "../variables";
@import "../mixins";

.nftGallery {
    background: $secondaryBg; 
    border: 1px solid $primaryStroke;
    padding: 10px 10px;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    transition: .2s ease-out;
    &:hover {
        animation: moveBorder 2s ease infinite alternate;
        background-color: #181920;
        border: 1px solid $secondaryStroke;
    }
    &:active {
        transform: scale(98%);
    }
    & h1 {
        font-size: 1.5rem;
        text-align: center;
    }
    & div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90%;
        width: 100%;
        
    }

}