@import '../variables';
@import '../mixins';

.profileBox {
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    background-color: $secondarybg;
    height: 750px;
    width: 700px;
}

.banner {
    height: 130px;
    border-radius: 20px 20px 0px 0px;
}
.uppersection{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.bookmark {
    transition: .2s ease-out;
    cursor: pointer;
    border-radius: 50%;
    padding: 12px 0px !important;
    &:hover {
        background-color: #0084ff34;
    }
}

.name {
    margin: 10px;
    margin-right: auto;
    h3 {
        color: $primaryStroke;
    }
}

.avatar {
    position: relative;
    bottom: 30px;
    margin-left: 20px;
}

.bio {
    margin-left: 20px;
    color: $textColor;
    height: 100px;
    & p {
        color: rgb(255, 255, 255);
        text-overflow: wrap;
    }
}

.address {
    height: 50px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.288);
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 20px;
    & img {
        cursor: pointer;
        border-radius: 50%;
        transition: .2s ease-out;
        &:active {
            transform: scale(90%);
        }
    }
}

.activity {
    margin-top: 20px;
    & > h2 {
        color: white;
        margin: 10px 30px;
        font-size: 1.2rem;
    }
}

.transaction {
    cursor: pointer;
    padding: 0px 5px;
    font-size: .7rem;
    display: flex;
    align-items: center;
    color: white;
    background-color: $hoverbg;
    margin: 10px 30px;
    border-radius: 5px;
    transition: .2s ease-in;
    height: 40px;
    & > p{
        margin-left: 10px;
    }
    &:hover {
        background-color: #282935;
    }
}

.bottom {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin: 10px;
    font-size: .9rem;
    color: $textColor;
}