@import '../variables';
@import '../mixins';

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.profilebox {
    z-index: 1;
    position: relative;
    background-color: $secondarybg;
    height: 600px;
    width: 600px;
    border-radius: 1rem;
    display: flex;
    flex-flow: column wrap;
}

.uppersection {
    gap: 20px;
    display: flex;
    align-items: center;
    & h1 {
        z-index: 2;
    }
}
.banner {
    position: absolute;
    border-radius: 1rem 1rem 0rem 0rem;
    width: 600px;
}

.avatar {
    z-index: 1;
    margin-left: 50px;

}

.address {
    gap: 10px;
    color: white;
    display: flex;
    height: 40px;
    font-size: .9rem;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 20px rgba(3, 3, 3, 0.438);
}

.copy {
    cursor: pointer;
    transition: .2s ease;
    &:active {
        transform: scale(.80)
    }
}

.bio {
    position: relative;
    height: 15%;
    display: flex;
    flex-flow: column;
    & hr {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        margin: 0;
    }
}

.upper {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    & h2 {
        margin-left: 20px;
        width: fit-content;
        color: grey;
    }
    & p {
        margin-left: 20px;
        color: white;
    }
    & img {
        cursor: pointer;
        transition: .2s ease-in;
        padding: 5px 15px !important;
        border-radius: 50%;
        &:hover {
            background-color: $secondaryblue;
        }
    }
}

.bottom {
    padding: 10px 10px;
    margin-top: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    & p {
        margin-left: auto;
    }
}

.activity {
    z-index: 1;
    & > h2 {
        color: white;
        margin: 10px;
    }
}

.transaction {
    cursor: pointer;
    padding: 0px 5px;
    font-size: .8rem;
    display: flex;
    align-items: center;
    color: white;
    background-color: $hoverbg;
    margin: 10px;
    border-radius: 10px;
    transition: .2s ease-in;
    & > p{
        margin-left: 10px;
    }
    &:hover {
        background-color: #282935;
    }
}

.placeholderBox {
    height: 20px;
}

@media screen and (max-width: 670px) {
    .avatar {
        z-index: 1;
        margin-left: 50px;
        width: 100px;
        height: 100px;
    
    }
   .profilebox {
       width: 90vw;
   } 
   .banner {
    width: 90vw;
    height: 150px;
    }

    .address {
        font-size: .7rem;
        gap: 5px;
        & img {
            width: 20px !important;
        }
    }
    .transaction {

        font-size: .55rem;
        width: 100%;
        & img {
            width: 30px !important;
        }
    }
    .activity {
        font-size: .8rem;
    }
}