@import '../variables';
@import '../mixins';

.profile {
    float: right;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 300px);
    height: 100vh;
    padding: 0px 30px;
}

.heading {
    @include pageHeading;
}

.seperator {
    height: 100%;
    width: 2px;
    grid-column: 5/6;
    grid-row: 1/11;
    justify-self: center;
    color: $primaryStroke;
}

.profileBox {
    grid-column: 1/5;
    grid-row: 1/11;
    justify-self: center;
}

.discover {
    grid-column: 6/11;
    grid-row: 1/11;
    justify-self: center;
}