@import '../variables';
@import '../mixins';

.profileBox {
    display: flex;
    flex-flow: column;
    margin-top: -30px;
}
.banner {
    border-radius: 20px 20px 0px 0px;
}

.uppersection{
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    padding: 0px 40px;
}

.topmeta {
    display: flex;
    align-items: center;
    gap: 20px;
    > div {
        cursor: pointer;
        display: flex;
        color: white;
        border: 1px solid $primaryStroke;
        border-radius: 30px;
        padding: 8px 20px;
        gap: 10px;
        transition: .2s ease-out;
        &:hover {
            background-color: $hoverBg;
            border: 1px solid transparent;
        }
        &:active {
            transform: scale(.90);
        }
    }
}

.bookmark {
    cursor: pointer;
    border-radius: 50%;
    padding: 12px !important;
    transition: .1s ease-out;
    &:hover {
        background-color: $hoverBg;
    }
    &:active {
        transform: scale(90%);
    }
}

.pubKey {
    background-color: $hoverBg;
    border: none;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s ease-out;
    &:active {
        transform: scale(.95);
    }
    &:hover {
        filter: brightness(120%);
    }
}

.name {
    position: relative;
    bottom: 15px !important;
    font-size: 1.3rem;
    margin-left: 10px;
    margin-right: auto;
    h3 {
        color: $primaryStroke;
    }
}

.avatar {
    position: relative;
    bottom: 50px !important;
    border: 5px solid $bg;
    border-radius: 50%;
}

.bio {
    position: relative;
    bottom: 20px !important;
    margin-left: 20px;
    color: $grey;
    height: 80px;
    & p {
        color: white;
        text-overflow: wrap;
        font-size: 1.1rem;
    }
    & h4 {
        margin-left: 75%;
    }
}

.activitySeperator {
    border: none;
    background: $secondaryStroke;
    height: 2px;

}

.activity {
    & > h2 {
        color: $grey;
        margin: 15px 25px 25px;
        font-size: 1.3rem;
    }
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.transaction {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 30px 10px;
    height: 40px;
    width: 100%;
    transition: .1s ease-out;
    &:hover {
        background-color: $secondaryBg;
    }
}
.sent {
    @include medium_font;
    color: #EC5656;
}
.received {
    @include medium_font;
    color: #72BF65;
}

.labels {
    display: flex;
    color: $grey;
    @include bold_font;
    gap: 230px;
    margin-left: 150px;
}

.type {
    display: flex;
    min-width: 120px;
}

.metadata {
    display: flex;
    overflow: hidden;
}
.amount, .toFrom {
    color: $grey;
}

.amount {
    text-align: center;
    min-width: 150px;
    text-align: center;
}

.toFrom {
    width: 500px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.transactionSeperator {
    border: none;
    outline: none;
    width: 100%;
    height: 1px;
    background-color: $secondaryStroke;
}


.banner_ {
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0px 0px ;
    background-color: $hoverBg;
}
.avatar_ {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: $hoverBg;
    position: relative;
    bottom: 50px !important;
    border: 5px solid $bg;
    margin-left: 20px;
}