@import '../variables';
@import '../mixins';

.profileBox {
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    background-color: $secondaryBg;
    height: 100%;
}

.banner {
    border-radius: 20px 20px 0px 0px;
}

.uppersection{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    padding-right: 10px;
}

.bookmark {
    transition: .2s ease-out;
    cursor: pointer;
    border-radius: 50%;
    padding: 6px !important;
    &:hover {
        background-color: $hoverBg;
    }
    &:active {
        transform: scale(80%);
    }
}

.name {
    margin-left: 10px;
    margin-right: auto;
    h3 {
        color: $primaryStroke;
    }
}

.avatar {
    position: relative;
    bottom: 30px;
    margin-left: 20px;
}

.bio {
    margin-left: 20px;
    color: $grey;
    height: 80px;
    & p {
        color: white;
        text-overflow: wrap;
    }
}

.address {
    height: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    & img {
        cursor: pointer;
        transition: .2s ease-out;
        &:active {
            transform: scale(80%);
        }
    }
    & hr {
        width: 100%;
        color: $primaryStroke;
    }
    & div {
        display: flex;
        gap: 10px;
        color: $text;
    }
}

.activity {
    margin-top: 20px;
    & > h2 {
        color: white;
        margin: 10px 30px;
        font-size: 1.2rem;
    }
}

.transaction {
    cursor: pointer;
    padding: 0px 5px;
    font-size: .7rem;
    display: flex;
    align-items: center;
    color: white;
    background-color: $hoverBg;
    margin: 10px 30px;
    border-radius: 5px;
    transition: .2s ease-in;
    height: 40px;
    & > p{
        margin-left: 10px;
    }
    &:hover {
        background-color: #282935;
    }
}

.bottom {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin: 10px;
    font-size: .9rem;
    color: $text;
}