@import '../variables';
@import '../mixins';

.profileBox {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.moveup {
    position: relative;
    bottom: 90px;
    > h4 {
        color: $grey;
        text-align: center;
        @include medium_font;
    }
}
.upper {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.banner {
    border-radius: 20px 20px 0px 0px;
}
.avatar {
    border: 5px solid $bg;
    border-radius: 50%;
}
.name {
    color: white;
    @include bold_font;
    font-size: 2.1rem;
}
.username {
    color: $text;
    @include medium_font;
    font-size: 1.3rem;
}


.bio {
    padding: 0px 20px;
    color: rgb(207, 207, 207);
    font-size: 1rem;
    margin-top: 20px;
    width: 100%;
    overflow-wrap: break-word;
    text-align: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 30px 0px;
    > div {
        cursor: pointer;
        display: flex;
        color: white;
        justify-content: center;
        border: 1px solid $primaryStroke;
        border-radius: 30px;
        padding: 8px 10px;
        gap: 10px;
        width: 25%;
        transition: .2s ease-out;
        &:hover {
            background-color: $hoverBg;
            border: 1px solid transparent;
        }
        &:active {
            transform: scale(90%);
        }
    }
}

.bookmark {
    cursor: pointer;
    border-radius: 50%;
    transition: .1s ease-out;
    border: 1px solid $primaryStroke;
    &:hover {
        background-color: $hoverBg;
    }
    &:active {
        transform: scale(90%);
    }
}


.activitySeperator {
    border: none;
    background: $secondaryStroke;
    height: 2px;
}

.activity {

    & > h2 {
        color: $primaryStroke;
        margin: 10px;
        font-size: 1rem;
    }
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.transaction {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 30px 10px;
    height: 10px;
    transition: .1s ease-out;
    &:hover {
        background-color: $secondaryBg;
    }
}
.sent {
    @include bold_font;
    color: #EC5656;
}
.received {
    @include bold_font;
    color: #72BF65;
}

.labels {
    display: flex;
    color: rgb(199, 199, 199);
    @include bold_font;
    gap: 37%;
    margin-left: 160px;
    font-size: .9rem;
}

.type {
    display: flex;
    min-width: 120px;
    gap: 10px;
    align-items: center;
    font-size: .9rem;
}

.metadata {
    display: flex;
    overflow: hidden;
}
.amount, .toFrom {
    color: $grey;
    @include light_font;
    font-size: .9rem;
}

.amount {
    text-align: center;
    min-width: 150px;
    text-align: center;
}

.toFrom {
    width: 500px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.transactionSeperator {
    border: none;
    outline: none;
    width: 100%;
    height: 1px;
    background-color: $secondaryStroke;
}


.banner_ {
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0px 0px ;
    background-color: $hoverBg;
}
.avatar_ {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: $hoverBg;
    position: relative;
    bottom: 50px !important;
    border: 5px solid $bg;
    margin-left: 20px;
}


