@import '../variables';
@import '../mixins';

.recentTransactions {
    display: flex;
    align-items: center;
    flex-flow: column;
    background-color: $secondaryBg;
    border-radius: 20px;
    border: 1px solid $primaryStroke;
    height: 100%;
    padding: 0px 15px;
    & h2 {
        color: $grey;
        font-size: 1.1rem;
    }
    > a {
        width: 100%;
    }
}

.labels {
    display: flex;
    color: $grey;
    margin-top: 50px;
    margin-right: 50px;
    gap: 20%;
    font-size: 1vw;
}

.transaction {
    background-color: $hoverBg;
    color: white;
    cursor: pointer;
    padding: 10px 10px;
    margin-top: 15px;
    font-size: calc(1vw - 5px);
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: .2s ease-out;
    &:hover {
        background-color: #282935;
    }
    > div {
        display: flex;
        align-items: center;
    }
}

.metadata {
    width: 100%;
    > p {
        text-align: center;
        width: 100%;
    }
}

.type {
    min-width: 40%;
    > p {
        margin-left: 10px;
    }
}