@import '../variables';
@import '../mixins';

.recentTransactions {
    height: 100%;
    background-color: $secondaryBg;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid $primaryStroke;
    & h2 {
        color: $grey;
        font-size: 1.1rem;
    }
}

.transaction {
    cursor: pointer;
    text-transform: capitalize;
    padding: 2% 2%;
    font-size: calc(.5vw + 5px);
    display: flex;
    background-color: $hoverbg;
    margin-top: 10px;
    border-radius: 10px;
    align-items: center;
    transition: .2s ease-out;
    & > p{
        margin-left: 10px;
        color: white;
    }
    &:hover {
        background-color: #282935;
    }
}
