@import '../variables';
@import '../mixins';

.recentTransactions {
    height: 60vh;
    background-color: $secondarybg;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid $primaryStroke;
    & h2 {
        color: rgb(190, 190, 190);
        font-size: 1.1rem;
    }
}

.transaction {
    cursor: pointer;
    text-transform: capitalize;
    padding: 12px 10px;
    font-size: 1rem;
    display: flex;
    background-color: $hoverbg;
    margin-top: 10px;
    border-radius: 10px;
    align-items: center;
    transition: .2s ease-out;
    & > p{
        margin-left: 10px;
        color: white;
    }
    &:hover {
        background-color: #282935;
    }
}