@import '../mixins';
@import '../variables';

.nameModal {
    position: fixed; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: #000000c5;
}

.main {
    background-color: $secondaryBg;
    width: 700px;
    height: 450px;
    border-radius: 20px;
    & > hr {
        color: $secondaryStroke;
        width: 100%;
    }
}

.close{
    cursor: pointer;
    color: $blue;
    font-size: 2.5rem;
    font-weight: lighter;
    transition: .2s ease-out;
    float: right;
    margin: 10px;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &:hover {
        background-color: $hoverBg;
    }
}

.changePlan {
    gap: 30px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    & > h1 {
        font-size: 1.5rem;
        width: 50%;
        color: $text;
    }
}


.form {
    padding: 50px 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    & > p {
        color: $grey;
    }
    & > h1 {
        color: $text;
        margin-top: 30px;
        margin-bottom: 5px;
        font-size: 1.2rem;
        @include bold_font;
    }
    & > input {
        @include default_font;
        font-size: 1rem;
        padding: 10px;
        color: white;
        background: none;
        border: 1px solid $primaryStroke;
        border-radius: 5px;
        transition: .1s ease-in;
        height: 40px;
        &:focus {
            border: 1px solid $blue
        }
    }
    & > button {
        @include button;
        width: 30%;
        height: 40px;
        font-size: 1rem;
        margin-top: 40px;
    }
}


@media screen and (max-width: 600px) {
    .changePlan h1{
        font-size: 1rem;
    }
    .form button {
        width: 60%;
    }
}
