@import '../mixins';
@import '../variables';

.nameModal {
    position: fixed; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: #000000c5;
}

.main {
    background-color: $secondaryBg;
    width: 700px;
    height: 450px;
    border-radius: 20px;
    & > hr {
        color: $primaryBlue;
    }
}

.close{
    cursor: pointer;
    color: $primaryBlue;
    font-size: 2.5rem;
    font-weight: lighter;
    transition: .2s ease-out;
    float: right;
    margin: 10px;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &:hover {
        background-color: $hoverbg;
    }
}

.change_plan {
    gap: 30px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    & > h1 {
        font-size: 1.5rem;
        width: 50%;
    }
    & > select {
        border: 1px solid $secondaryStroke;
        cursor: pointer;
        background-color: $hoverbg;
        outline: none;
        border-radius: 5px;
        color: white;
        text-align: center;
        height: 40px;
        width: 200px;
        transition: .2s ease;
        @include bold_font;
        &:focus {
            border: 1px solid $primaryStroke;
        }
    }
}


.form {
    padding: 50px 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    & > p {
        color: rgb(170, 170, 170);
    }
    & > h1 {
        color: rgb(179, 177, 177);
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 1.2rem;
        @include bold_font;
    }
    & > input {
        @include default_font;
        font-size: 1rem;
        padding: 10px;
        color: white;
        background: none;
        border: 1px solid $primaryStroke;
        border-radius: 5px;
        transition: .1s ease-in;
        height: 40px;
        &:focus {
            border: 1px solid $secondaryBlue
        }
    }
    & > button {
        @include button;
        width: 30%;
        height: 40px;
        font-size: 1rem;
        margin-top: 40px;
    }
}

.forever {
    color: rgb(184, 184, 184);
}
.subs {
    color: rgb(114, 129, 156);
}

@media screen and (max-width: 600px) {
    .change_plan h1{
        font-size: 1rem;
        width: 80%;
    }
    .change_plan select {
        width: 150px;
        font-size: .7rem;
    }
    .form button {
        width: 60%;
    }
}