@import '../mixins';
@import '../variables';

.nameModal {
    position: fixed; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: #000000c5;
}

.main {
    background-color: $secondarybg;
    width: 700px;
    height: 450px;
    border-radius: 1rem;
    & > hr {
        color: $primaryblue;
    }
}

.close{
    cursor: pointer;
    color: $primaryblue;
    font-size: 2.5rem;
    font-weight: lighter;
    transition: .2s ease-out;
    float: right;
    margin: 10px;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &:hover {
        background-color: $hoverbg;
    }
}

.change_plan {
    padding: 10px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    & > h1 {
        font-size: 1.5rem;
    }
    & > select {
        cursor: pointer;
        background-color: rgb(3, 27, 43);
        border: none;
        border-radius: 10px;
        color: white;
        text-align: center;
        height: 40px;
        @include bold_font;
    }
}

.form {
    padding: 10px 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    & > p {
        color: $primarygrey;
    }
    & > h1 {
        font-size: 1.5rem;
        @include medium_font;
    }
    & > input {
        @include default_font;
        font-size: 1rem;
        padding: 10px;
        color: white;
        background: none;
        border: 1px solid $primarygrey;
        border-radius: 5px;
        transition: .1s ease-in;
        height: 40px;
        &:focus {
            border: 1px solid $secondaryblue
        }
    }
    & > button {
        @include button;
        width: 30%;
        height: 40px;
        font-size: 1.1rem;
        margin-top: 40px;
    }
}