@import '../variables';
@import '../mixins';

.sidebar {
    position: fixed;
    display: flex;
    border-right: 2px solid $secondaryStroke;
    height: 100vh;
    width: 350px;
    z-index: 1;
    justify-content: center;
}

.links {
    width: 80%;
    font-size: 1.3rem;
    display: flex;
    flex-flow: column;
    gap: 30px;
    margin-top: 40%;
    float: left;
    @include medium_font;
}


.icon { 
    cursor: pointer;
    border-radius: 10px;
    transition: .2s ease-out;
    color: grey;
    & a img {
        filter: grayscale(1);
    }
    & > a {
        display: flex;
        gap: 20px;
        padding: 15px 20px;
    }
    &:hover {
        background-color: $hoverBg;
        color: white;
        & a img {
            filter: contrast(100);
        }
    }
}

.icon_active { 
    cursor: pointer;
    border-radius: 10px;
    & > a {
        display: flex;
        gap: 20px;
        padding: 15px 20px;
    }
    color: $text;
    background-color: $hoverBg;
}


@media screen and (max-width: 1000px) {
    .sidebar {
        width: 80px;
    }
    .icon, .icon_active {
        align-self: center;
        padding: 10px 10px;
    }
    .icon p, .icon_active p {
        display: none;
    }
}