@import '../variables';
@import '../mixins';

.sidebar {
    position: fixed;
    display: flex;
    border-right: 2px solid $secondaryStroke;
    height: 100vh;
    width: 260px;
    z-index: 1;
    justify-content: center;
}

.links {
    font-size: 1.3rem;
    display: flex;
    flex-flow: column;
    gap: 40px;
    margin-top: 30%;
    @include light_font;
}


.icon, .icon_active { 
    cursor: pointer;
    color: white;
    transition: .2s ease-out;
    border-radius: 10px;
    padding: 10px 25px;
    opacity: .6;
    &:hover {
        opacity: 1;
        background-color: $hoverbg;
    }
    & > a {
        display: flex;
        gap: 20px;
    }
}

.icon_active { 
    background-color: $hoverbg;
    opacity: 1;
}

@media screen and (max-width: 1000px) {
    .sidebar {
        width: 80px;
    }
    .icon, .icon_active {
        align-self: center;
        padding: 10px 10px;
    }
    .icon p, .icon_active p {
        display: none;
    }
}