@import '../variables';
@import '../mixins';

.sidebar {
    position: fixed;
    display: flex;
    background-color: $bg;
    box-shadow: 0px 5px 20px #060611;
    height: 100vh;
    width: 300px;
    font-size: 1.2rem;
    z-index: 1;
    justify-content: center;
}


.links {
    font-size: 1.5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 30px;
    margin-top: 50%;
    @include bold_font;
}


.icon { 
    cursor: pointer;
    color: white;
    display: flex;  
    gap: 10px;
    transition: .2s ease-in-out;
    border-radius: 8px;
    padding: 10px 30px;
    &:hover {
        background-color: $hoverbg;
    }
}