@import '../variables';
@import '../mixins';

.parent {
    width: 100%;
}
.token {
    margin: 20px 0px;
    display: flex;
    align-items: center;
    @include medium_font;
    
    > p {
        color: $text;
        font-size: 1.2rem;
        margin: 10px;
    }
    > div {
        width: 10px;
        height: 50px;
        border-radius: 0px 10px 10px 0px;
    }
    > img {
        border-radius: 50%;
        margin-left: 20px;
    }
}
.percentage {
    position: absolute;
    right: 30px;
}