@import '../mixins';
@import '../variables';

.updateModal {
    position: fixed; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: #000000c5;
}

.main {
    background-color: $secondaryBg;
    width: 500px;
    height: 660px;
    border-radius: 20px;
    position: relative;
}
.upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > h3 {
        @include medium_font;
        color: $primaryStroke;
        margin: 10px;   
    }
}
.close{
    cursor: pointer;
    color: $blue;
    font-size: 2.5rem;
    transition: .2s ease-out;
    margin: 10px;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &:hover {
        background-color: $hoverBg;
    }
}

.bannerParent {
    display: flex;
    flex-flow: column;
    position: relative;
}
.bannerInput{
    display: none;
}
.banner {
    object-fit: cover;
    height: 130px;
    width: 100%;
}
.editBanner {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    transition: .2s ease-out;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgb(71, 71, 71);
    &:hover {
        box-shadow: none;
        background: rgba(255, 255, 255, 0.322);
    }
}

.avatarParent {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    top: 120px;
    left: 175px;
    border: 4px solid $secondaryBg;
}
.avatarInput{
    display: none;
}

.editAvatar {
    top: 50px;
    left: 50px;
    position: absolute;
    cursor: pointer;
    padding: 10px;
    display: flex;
    transition: .2s ease-out;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgb(71, 71, 71);
    &:hover {
        box-shadow: none;
        background: rgba(255, 255, 255, 0.322);
    }
}

.textfields {
    margin-top: 80px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    > h4 {
        color: $primaryStroke;
        width: 100%;
    }
    > input, textarea, div {
        @include default_font;
        margin-bottom: 10px;
        width: 100%;
        font-size: 1rem;
        padding: 5px 10px;
        color: white;
        background: none;
        border: 1px solid $secondaryStroke;
        border-radius: 5px;
        transition: .1s ease-in;
        outline: none;
        &:hover {
            border: 1px solid $primaryStroke;
        }
	&:focusrwithin {
	    border: 1px solid $blue;
	}
    }
    > button {
        width: 40%;
        color: white;
        border-radius: 20px;
        cursor: pointer;
        @include light_font;
        padding: 10px;
        transition: .1s ease-out;
        border: 1px solid $secondaryBg;
        background-color: $hoverBg;
        font-size: 1rem;
        margin-top: 20px;
        &:hover {
            border: 1px solid $primaryStroke;
        }
    }
}

.bioField {
    height: 80px;
}
.socialField {
    width: 100%;
    display: flex;
    border: 1px solid $secondaryStroke;
    align-items: center;
    gap: 10px;
    > input {
        @include default_font;
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        color: white;
        font-size: 1rem;
    }

}

.error {
    color: #ff5151;
    text-align: center;
    margin: 10px;
    @include light_font;
}
.form {
    display: flex;
    flex-flow: column;
}
.trouble {
    cursor: pointer;
    text-decoration: underline;
    color: $grey;
    text-align: center;
    position: relative;
}
@media screen and (max-width: 600px) {
    .changePlan h1{
        font-size: 1rem;
    }
    .form button {
        width: 60%;
    }
}
