@import '../mixins';
@import '../variables';

.updateModal {
    position: fixed; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: #000000c5;
}

.main {
    background-color: $secondaryBg;
    width: 500px;
    height: 600px;
    border-radius: 20px;
}
.upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > h3 {
        @include medium_font;
        color: $primaryStroke;
        margin: 10px;   
    }
}
.close{
    cursor: pointer;
    color: $blue;
    font-size: 2.5rem;
    transition: .2s ease-out;
    margin: 10px;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &:hover {
        background-color: $hoverBg;
    }
}


.bannerParent {
    display: flex;
    flex-flow: column;
    position: relative;
}
.bannerInput{
    display: none;
}

.editBanner {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    transition: .2s ease-out;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgb(44, 44, 44);
    &:hover {
        box-shadow: none;
        background: rgba(255, 255, 255, 0.322);
    }
}

.textfields {
    display: flex;
    flex-flow: column;
    justify-content: center;
    > input {
        @include default_font;
        margin-top: 10px;
        font-size: 1rem;
        padding: 10px;
        color: white;
        background: none;
        border: 1px solid $secondaryStroke;
        border-radius: 5px;
        transition: .1s ease-in;
        height: 40px;
        &:hover {
            border: 1px solid $primaryStroke;
        }
        &:focus {
            border: 1px solid $blue
        }
        &::placeholder {
            color: $textDark;

        }
    }
    > button {
        @include button;
        width: 30%;
        height: 40px;
        font-size: 1rem;
        margin-top: 40px;
    }
}


.error {
    color: #ff5151;
    text-align: center;
    margin-top: 20px;
    @include light_font;
}

.trouble {
    cursor: pointer;
    text-decoration: underline;
    color: $grey;
    text-align: center;
    position: relative;
}
@media screen and (max-width: 600px) {
    .changePlan h1{
        font-size: 1rem;
    }
    .form button {
        width: 60%;
    }
}
