@import '../mixins';
@import '../variables';

.updateModal {
    position: fixed; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: #000000c5;
}

.main {
    background-color: $secondaryBg;
    width: 700px;
    height: 450px;
    border-radius: 20px;
    > hr {
        background: $secondaryStroke;
        width: 100%;
        height: 1px;
        border: none;
    }
}

.close{
    cursor: pointer;
    color: $blue;
    font-size: 2.5rem;
    font-weight: lighter;
    transition: .2s ease-out;
    float: right;
    margin: 10px;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &:hover {
        background-color: $hoverBg;
    }
}

.changePlan {
    padding: 10px 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.currentPlan {
    margin-left: 20px;
    display: flex;
    align-items: center;
    width: 20%;
    gap: 10px;
    width: 50%;
    & > h1 {
        font-size: 1.5rem;
        color: $text;
    }
}

.form {
    padding: 50px 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    & > p {
        color: $grey;
    }
    & > h1 {
        color: $textDark;
        margin-top: 30px;
        margin-bottom: 5px;
        font-size: 1.2rem;
        @include medium_font;
    }
    & > input {
        @include default_font;
        margin-top: 10px;
        font-size: 1rem;
        padding: 10px;
        color: white;
        background: none;
        border: 1px solid $secondaryStroke;
        border-radius: 5px;
        transition: .1s ease-in;
        height: 40px;
        &:hover {
            border: 1px solid $primaryStroke;
        }
        &:focus {
            border: 1px solid $blue
        }
        &::placeholder {
            color: $textDark;

        }
    }
    & > button {
        @include button;
        width: 30%;
        height: 40px;
        font-size: 1rem;
        margin-top: 40px;
    }
}

.error {
    color: #ff5151;
    text-align: center;
    margin-top: 20px;
    @include light_font;
}

.trouble {
    cursor: pointer;
    text-decoration: underline;
    color: $grey;
    text-align: center;
    position: relative;
}
@media screen and (max-width: 600px) {
    .changePlan h1{
        font-size: 1rem;
    }
    .form button {
        width: 60%;
    }
}
