@import "mixins.scss";
@import "variables.scss";

html, body {
  padding: 0;
  margin: 0;
  background: $bg;
  overflow-x: hidden;
  @include default_font;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  color: white;
}

.Toastify__toast-body {
  @include default_font
} 

.Toastify__toast-theme--dark {
  background-color: $navbarbg !important;

}