@import "mixins.scss";
@import "variables.scss";
@import "PricingDropdown.scss";

html, body {
  padding: 0;
  margin: 0;
  background: $bg;
  overflow-x: hidden;
  @include default_font;
}
* {
  padding: 0; 
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input, button {
  outline: none;
}

h1 {
  color: white;
}


.Toastify__toast-body {
  @include default_font
} 

.Toastify__toast-theme--dark {
  background-color: $hoverBg !important;
}


