@import "mixins.scss";
@import "variables.scss";

html, body {
  padding: 0;
  margin: 0;
  background: $bg;
  @include default_font;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  color: white;
}
