@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #171717;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  color: white;
}
