@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


@mixin default_font {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }

@mixin light_font {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

@mixin medium_font {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

@mixin bold_font {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

@mixin head_text($color) {
    justify-self: center;
    color: $color;
    font-size: 2.5rem;
}

@mixin button {
    background-color: $secondaryblue;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 30px $secondaryblue;
    transition: 0.3s ease-out;
    &:hover {
        box-shadow: 0px 0px 30px $secondaryblue;
    }  
    &:active {
        transform: scale(.90);
    }
}

@mixin landingPage_boxes($glow_colour, $show_colour){
    display: flex;
    flex-flow: row wrap;
    & > *h3 {
        color: white;
        font-size: 1.6rem;
    }
    & > * {
        background-color: $secondarybg;
        border-radius: 1rem;
        margin: 20px;
        padding: 20px 10px;
        flex: 2 0 40%;
        box-shadow: 0px 0px 30px $show_colour;
        border: 1px solid $glow_colour;
    }
}