@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import "variables.scss";

@mixin default_font {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }

@mixin light_font {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

@mixin medium_font {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

@mixin bold_font {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

@mixin head_text($color) {
    justify-self: center;
    color: $color;
    font-size: 2.8rem;
}

@mixin button {
    @include light_font();
    background-color: $blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 0px 30px #33518a;
    transition: 0.2s ease-out;
    &:active {
        transform: scale(95%);
    }
    &:disabled {
        box-shadow: none;
        cursor: not-allowed;
        opacity: .5;
    }
}

@mixin landingPage_boxes($glow_colour, $show_colour){
    display: flex;
    flex-flow: row wrap;
    & > *h3 {
        color: white;
        font-size: 1.6rem;
    }
    & > * {
        background-color: $secondaryBg;
        border-radius: .8rem;
        margin: 20px;
        padding: 20px 10px;
        flex: 2 0 40%;
        box-shadow: 0px 0px 30px $show_colour;
        border: 1px solid $glow_colour;
    }
}

@mixin search($height, $width) {
    display: flex;
    align-items: center;
    > input {
        @include default_font;
        border-radius: 5px;
        padding: 0px 5px;
        height: $height;
        width: $width;
        margin-right: 10px;
        text-overflow: ellipsis;
        background-color: transparent;
        border: 1px solid $secondaryStroke;
        transition: .1s ease-out;
        font-size: .9rem;
        color: white;
        &::placeholder {
            color: $grey;
        }
        &:focus {
            border: 1px solid $blue;
        }
    }
    > button {
        background-color: transparent;
        outline: none;
        border: none;
    }
        img {
        cursor: pointer;
        transition: .2s ease;
        border-radius: 50%;
        padding: 10px 10px !important;
        &:hover {
                filter: brightness(130%);
                background-color: $secondaryBg;
            }
    }
}

@mixin pageHeading() {
        grid-column: 1/3;
        grid-row: 1;
        margin: 25px 0px;
        font-size: 1.8rem;
}