.pricingDropdown {
  width: 240px;
  position: relative;
    > p {
      cursor: pointer;
      padding: 5px 0px;
      border-radius: 5px;
      border: 1px solid $secondaryStroke;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      transition: 0.1s ease-out;
      width: 100%;
      margin-left: auto;
      &:hover {
        border: 1px solid $primaryStroke;
      }

    }
  
  }
  
  
.dropdown {
    position: absolute;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 10px;
    background-color: $secondaryBg;
    border: 1px solid $primaryStroke;
    transition: height .4s ease;
    width: 100%;
  }
  
.menu-item {
    cursor: pointer;
    gap: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0.5rem;
    color: white;
    font-size: .9rem;
    > h2 {
      font-size: 1rem;
      color: $text;
    }
    &:hover {
      filter: brightness(120%);
      background: $secondaryBg;
    }
  }
  
  /* CSSTransition classes  */
  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all .4s ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all .4s ease;
  }
  
  
  .menu-secondary-enter {
    transform: translateX(110%);
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all .4s ease;
  }
  
  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all .4s ease;
  }

@media screen and (max-width: 700px) {
  .pricingDropdown p, .menu-item {
    font-size: .8rem;
  }
  .menu-item h2 {
    font-size: .9rem;
  }
}