// colours
$main: #00C2FF;

// backgrounds
$bg: #171717;
$secondarybg: #282828;
$navbarbg: #202020;
$hoverbg: #333333;
// strokes
$primarystroke: #8E8E8E;
$secondarystroke: #7D7D7D;

// colours
$primaryblue: #00C2FF;
$secondaryblue: #0059DE;
$orange: #FF5C00;