// backgrounds
$bg: #0a0d16;
$secondarybg: #0F121D;
$navbarbg: #11151f;
$hoverbg: #1D2530;

// strokes
$primarygrey: #B6B6B6;
$secondarygrey: #6D6D6D;

// colours
$orange: #CC6B25;
$primaryblue: #0085FF;
$secondaryblue: #104EAA;
