// backgrounds
$bg: #121418;
$secondarybg: #16171D;
$hoverbg: #22232D;

// strokes
$primaryStroke: #383D4D;
$secondaryStroke: #2c303d;

// colours
$orange: #CC6B25;
$primaryblue: #0085FF;
$secondaryblue: #3F64AB;
