// backgrounds
$bg: #111316;
$secondarybg: #191A1F;
$hoverbg: #23252C;

// strokes
$primaryStroke: #434653;
$secondaryStroke: #282A32;

// colours
$orange: #CC6B25;
$primaryblue: #0085FF;
$secondaryblue: #104EAA;
